langchain==0.1.17
langchain-community==0.0.38
langchain-core==0.1.52
openai==1.14.0
streamlit==1.46.1
python-dotenv==1.0.1
requests==2.31.0
beautifulsoup4==4.12.3
pandas==2.2.1
numpy==1.26.4
google-auth==2.29.0
google-auth-oauthlib==1.2.0
google-auth-httplib2==0.2.0
PyJWT==2.8.0
extra-streamlit-components==0.1.71 